
body{
    font-family: 'RocknRoll One', sans-serif;
    background-color:#e0def4;
    }
body h1{
    font-family: 'Indie Flower', cursive;
}
.nav   {

    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    background-color: #e0def4;
    margin-bottom: 5px;
}
.nav ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    text-align: center;
    position: relative;
}

.nav li {
    padding: 8px;
    margin-bottom: 10px;
    float: left;
    width: 295px;
}

.nav li a {
    padding: 10px;
    text-decoration: none;
}
.nav a{
    text-decoration: none;
    margin:15px;
    text-align:center;
    color:#817c9c;
}
.nav a:hover {
    color: #25383C;
  }

.band-name{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #4B0082;
}


.section-header{
    align-items: center;
    display: flex;
    justify-content: center;
}
.footer{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #4B0082;
}

.shop-items::after {
    content: "";
    clear: both;
    display: table;
    text-align: end;
  }
  
.shop-item {
    float: left;
    width: 48%;
    padding: 1%;
  }
.shop-item span {
    display: grid;
    grid-template-columns: 50fr 540fr 50fr;
    grid-template-areas: ". album1 ." ". album2 ." ". album3 ." ". album4 ."
 
  }
.album1 {
    grid-area: album1;
}

.album2 {
    grid-area: album2;
}

.album3 {
    grid-area: album3;
}

.album4 {
    grid-area: album4;
}
.cart{
        border-radius: 5px;
        background-color:#ffcbb7 ;
        padding: 20px;
}
.cart-row{
    word-spacing: 300px;
    text-align: center;
    
}
.cart-image>img {
    width: 150px;
}
@media only screen and (min-width: 641px) {
    .nav>ul>li {
        display: inline;
        margin: 0 15px;
    }
    .shop-items {
        grid-template-columns: 100px 441px 100px;
        grid-template-areas: ". album1 . . album2" ". album3 . . album4"
    }
}
